<%- include("./partials/header") %>

<% if (role == 'professor') { %>
  <%- include("./navbar/menu_p") %>
<% } else { %>
  <%- include("./navbar/menu_s") %>
<% } %>

<br>

<div class="container">
    <h5 class="border-bottom pb-4 mb-2">Classrooms Types</h5>
    <br>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <% if (typeof classrooms != 'undefined') { %> <% classrooms.forEach(classroom => { %>

          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3 text-white bg-info border-dark">
                <h4 class="my-0 fw-normal"><strong>Name: </strong><%= classroom.name %></h4>
              </div>
              <div class="card-body">
                <h2 class="card-title pricing-card-title"><strong>Code: </strong><%= classroom.id %></h2>
                <ul class="list-unstyled mt-3 mb-4">
                  <li><strong>Building: </strong><%= classroom.building %></li>
                  <li><strong>Number: </strong><%= classroom.number %></li>
                  <li><strong>Type: </strong><%= classroom.type %></li>
                </ul>
              </div>
            </div>
          </div>

      <% }) %> <% } %>

    </div>
  </div>

<br>

<%- include("./partials/footer") %>
