<%- include("./partials/header") %>
<%- include("./navbar/menu") %>

<br>

<div class="container">
    <h5 class="border-bottom pb-4 mb-2">Documents Types</h5>
    <br>
    <div class="row g-2">

        <% if (typeof docs_types != 'undefined') { %> <% docs_types.forEach(docs_type => { %>

          <div class="col-4">
            <div class="p-5 border bg-dark text-primary rounded-3 mb-4">
                <p><strong>Document Type Code: </strong><i class="text-white"><%= docs_type.id %></i></p>
                <p><strong>Document Type Name: </strong><i class="text-white"><%= docs_type.name %></i></p>
                <p><strong>Document Type Building: </strong><i class="text-white"><%= docs_type.building %></i></p>
                <p><strong>Document Type Number: </strong><i class="text-white"><%= docs_type.number %></i></p>
                <p><strong>Document Type Type: </strong><i class="text-white"><%= docs_type.type %></i></p>
            </div>
          </div>

      <% }) %> <% } %>

    </div>
  </div>

<br>

<%- include("./partials/footer") %>


