<%- include("./partials/header") %>
<%- include("./navbar/menu") %>

<br>

<div class="container mt-4">
        
    <div class="jumbotron">
        <p class="lead">Upload document to Cloud Document Storage</p>
        <hr class="my-4">
    </div>

    <div class="jumbotron">
        <form action="/upload" enctype="multipart/form-data" method="POST">

          <div class="my-3">
            <% if (typeof docs_types != 'undefined') { %> <% docs_types.forEach(docs_type => { %>
              <div class="form-check">
                <input id="docs_type" name="docs_type" type="radio" class="form-check-input" required>
                <label class="form-check-label" for="docs_type"><%= docs_type.name %> : <%= docs_type.description %></label>
              </div>
          <% }) %> <% } %>
          </div>

            <hr class="my-4">

            <div class="mb-3 mt-4">
                <label for="formFile" class="form-label">Upload Document</label>
                <input class="form-control" type="file" id="formFile" name="doc_conv" required/> <br>
                <input type="submit" value="submit">
            </div>                
            <hr class="my-4">

      </form>
    </div>
    <br>
    <% if (typeof message !== 'undefined' ) { %>
        <p><%= message %></p>
        <% } %>
    <br>
    <% if (typeof presignedUrl !== 'undefined' ) { %>
      <a href="<%= presignedUrl %>">Uploaded Document</a>
      <% } %>

</div>

<br>

<%- include("./partials/footer") %>