<%- include("./partials/header") %>

<% if (role == 'professor') { %>
  <%- include("./navbar/menu_p") %>
<% } else { %>
  <%- include("./navbar/menu_s") %>
<% } %>

<br>

<div class="container">
  <h5 class="border-bottom pb-4 mb-2">Exams Types</h5>
  <br>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <% if (typeof exams != 'undefined') { %> <% exams.forEach(exam => { %>

          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3 text-white bg-danger border-dark">
                <h4 class="my-0 fw-normal"><strong>Name: </strong><%= exam.name %></h4>
              </div>
              <div class="card-body">
                <h2 class="card-title pricing-card-title"><strong>Code: </strong><%= exam.id %></h2>
                <ul class="list-unstyled mt-3 mb-4">
                  <li><strong>Gravity: </strong><%= exam.gravity %></li>
                </ul>
              </div>
            </div>
          </div>

      <% }) %> <% } %>

    </div>
  </div>

<br>

<%- include("./partials/footer") %>
