<%- include("./partials/header") %>

<% if (role == 'professor') { %>
  <%- include("./navbar/menu_p") %>
<% } else { %>
  <%- include("./navbar/menu_s") %>
<% } %>

<br>

<h2 class="border-bottom pb-4 mb-2">HUA Professors</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm" id="professors_all_table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">BirthDate</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">Zip Code</th>
        <th scope="col">Home Phone</th>
        <th scope="col">Office Phone</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email Address</th>
        <th scope="col">Title</th>
        <th scope="col">Level</th>
        <!-- <th scope="col">Active</th>
        <th scope="col">Notes</th> -->
      </tr>
    </thead>
    <tbody>
      <% if (typeof professors != 'undefined') { %> <% professors.forEach(professor => { %>
      <tr>
          <th scope="row"><strong><%= professor.username %></strong></th>
          <td><%= professor.first_name %></td>
          <td><%= professor.last_name %></td>
          <td><%= professor.date_of_birth %></td>
          <td><%= professor.address %></td>
          <td><%= professor.city %></td>
          <td><%= professor.zipcode %></td>
          <td><%= professor.telephone %></td>
          <td><%= professor.office_phone %></td>
          <td><%= professor.mobile %></td>
          <td><%= professor.email %></td>
          <td><%= professor.title %></td>
          <td><%= professor.level %></td>
          <!-- <td><%= professor.is_active %></td>
          <td><%= professor.notes %></td> -->
      </tr>
      <% }) %> <% } %>
    </tbody>
  </table>

  <br>
</div>

  <button type="button" class="btn btn-outline-info btn-sm" id="download-button-csv">
    export CSV <img src="/assets/csv.png" width="23rem" height="auto">
  </button>
  <button type="button" class="btn btn-outline-warning btn-sm" onclick="downloadObjectAsJson('professors_all_table','file')">
  export JSON <img src="/assets/json.png" width="23rem" height="auto">
  </button>
  <button type="button" class="btn btn-outline-success btn-sm" onclick="tableToExcel()">
  export Excel <img src="/assets/excel.png" width="23rem" height="auto">
  </button>

  <script>
    document.getElementById("download-button-csv").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    htmlToCSV(html, "file.csv");
    });   
  </script>

<br>

<%- include("./partials/footer") %>
