<%- include("./partials/header") %>

<% if (role == 'professor') { %>
  <%- include("./navbar/menu_p") %>
<% } else { %>
  <%- include("./navbar/menu_s") %>
<% } %>

<section class="intro">

      <br>
      <h5 class="border-bottom pb-4 mb-2">Professors by Section</h5>
      <br>

    <!-- <form action="/professors/sections" method="post">
      <div class="form-row align-items-right">
        <div class="form-group col-sm-2">
          <label for="inputZip">Section ID</label>
          <input type="text" class="form-control" id="section_id" name="section_id">
        </div>
        <br>
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary sm-2">Search</button>
        </div>
      </div>
    </form>    -->

    <form class="form-inline" action="/professors/sections" method="post">
      <label class="my-1 md-2" for="section_id"> Section ID  </label>
      <select class="custom-select my-1 md-4" id="section_id" name="section_id">
        <option selected>Choose...</option>
        <% if (typeof sections != 'undefined') { %> <% sections.forEach(section => { %>
        <option value="<%= section.id %>">Year <%= section.year %>: <%= section.id %></option>
        <% }) %> <% } %>
      </select>
      <button type="submit" class="btn btn-outline-secondary my-1 sm-2">Search</button>
      <!-- <input type="submit" value="search"> -->
    </form>
    <br>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered mb-4" id="professors_sections_table">
                    <thead>
                      <tr>
                        <th scope="col">Section Id</th>
                        <th scope="col">Year</th>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Office Phone</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Title</th>
                        <th scope="col">Level</th>

                        <th scope="col">Classroom</th>
                        <!-- <th scope="col">Αριθμός Αίθουσας</th>
                        <th scope="col">Κτήριο Αίθουσας</th>
                        <th scope="col">Τύπος Αίθουσας</th> -->

                        <!-- <th scope="col">Όνομα Μαθήματος</th> -->
                        <th scope="col">Course</th>
                        <!-- <th scope="col">Βαρύτητα Μαθήματος</th> -->

                        <th scope="col">Exam Type</th>
                        <!-- <th scope="col">Βαρύτητα Εξέτασης</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <% if (typeof professor_sections != 'undefined') { %> <% professor_sections.forEach(professor_section => { %>
                        <tr>
                            <td scope="row"><strong><%= section_id %></strong></td>
                            <td><%= professor_section.year %></td>
                            <td><%= professor_section.professor_username %></td>
                            <td><%= professor_section.professor_fname %></td>
                            <td><%= professor_section.professor_sname %></td>
                            <td><%= professor_section.professor_email %></td>
                            <td><%= professor_section.professor_ophone %></td>
                            <td><%= professor_section.professor_mobile %></td>
                            <td><%= professor_section.professor_title %></td>
                            <td><%= professor_section.professor_level %></td>

                            <td><%= professor_section.classroom_name %></td>
                            <!-- <td><%= professor_section.classroom_number %></td>
                            <td><%= professor_section.classroom_building %></td>
                            <td><%= professor_section.classroom_type %></td> -->

                            <!-- <td><%= professor_section.course_name %></td> -->
                            <td><%= professor_section.course_description %></td>
                            <!-- <td><%= professor_section.course_gravity %></td> -->

                            <td><%= professor_section.exams_name %></td>
                            <!-- <td><%= professor_section.exams_gravity %></td> -->
                        </tr>
                        <% }) %> <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>
        <button type="button" class="btn btn-outline-info btn-sm" id="download-button-csv">
          export CSV
        </button>
        <button type="button" class="btn btn-outline-warning btn-sm" onclick="tableToJSON()">
          export JSON
      </button>
      <button type="button" class="btn btn-outline-success btn-sm" onclick="exportTableToExcel('professors_sections_table', 'professors_sections')">
        export Excel
      </button>

      </div>
</section>

  <script>
    document.getElementById("download-button-csv").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    htmlToCSV(html, "professors_sections.csv");
    });
  </script>

<br>

<%- include("./partials/footer") %>
