<%- include("./partials/header") %>
<%- include("./navbar/menu") %>

<section class="intro">

      <br>
      <h5 class="border-bottom pb-4 mb-2">Professors by Section</h5>
      <br>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover mb-0" id="tblexportData">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Username</th>
                        <th scope="col">Όνομα</th>
                        <th scope="col">Επώνυμο</th>
                        <th scope="col">Τηλέφωνο Γραφείου</th>
                        <th scope="col">Κινητό</th>
                        <th scope="col">Ηλεκ.Ταχ.</th>
                        <th scope="col">Τίτλος</th>
                        <th scope="col">Θέση</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (typeof professors != 'undefined') { %> <% professors.forEach(professor => { %>
                        <tr>
                            <td scope="row"><strong><%= professor.section_id %></strong></td>
                            <td><%= professor.username %></td>
                            <td><%= professor.first_name %></td>
                            <td><%= professor.last_name %></td>
                            <td><%= professor.office_phone %></td>
                            <td><%= professor.mobile %></td>
                            <td><%= professor.email %></td>
                            <td><%= professor.title %></td>
                            <td><%= professor.level %></td>
                        </tr>
                        <% }) %> <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>
        <button type="button" class="btn btn-outline-info btn-sm" onclick="tableToCSV()">
            export CSV
        </button>
        <button type="button" class="btn btn-outline-warning btn-sm" onclick="tableToJSON()">
          export JSON
      </button>
      <button type="button" class="btn btn-outline-success btn-sm" onclick="exportToExcel('tblexportData')">
        export Excel
      </button>

      </div>
</section>

<br>

<%- include("./partials/footer") %>
