<%- include("./partials/header") %>

<% if (role == 'professor') { %>
  <%- include("./navbar/menu_p") %>
<% } else { %>
  <%- include("./navbar/menu_s") %>
<% } %>

  <div class="list-group">

    <h2 class="border-bottom pb-2">Results</h2>
    <br>
    <br>

    <form class="form-inline" method="post" action="/results">

      <label class="my-1 md-2" for="section_id"> Section ID  </label>
      <select class="custom-select my-1 md-4" id="section_id" name="section_id">
        <option selected>Choose...</option>
        <% if (typeof sections != 'undefined') { %> <% sections.forEach(section => { %>
        <option value="<%= section.id %>">Year <%= section.year %>: <%= section.id %></option>
        <% }) %> <% } %>
      </select>

      <br>

      <button type="submit" class="btn btn-outline-secondary my-1 sm-2">Search</button>

      <!-- <button type="submit" class="btn btn-outline-secondary my-3 sm-2">Add</button> -->

    </form>

    <% if (typeof message !== 'undefined' ) { %>
      <p><%= message %></p>
      <% } %>


  </div>

  <br>

  <%- include("./partials/footer") %>