<%- include("./partials/header") %>

<% if (role == 'professor') { %>
  <%- include("./navbar/menu_p") %>
<% } else { %>
  <%- include("./navbar/menu_s") %>
<% } %>

  <div class="list-group">

    <h2 class="border-bottom pb-2">Αποτελέσματα Εξετάσεων</h2>
    <br>
    <br>

    <form class="form-inline" action="/results" method="post">

      <label class="my-1 md-2" for="section_id"> Section ID  </label>
      <select class="custom-select my-1 md-4" id="section_id" name="section_id">
        <option selected>Choose...</option>
        <% if (typeof sections != 'undefined') { %> <% sections.forEach(section => { %>
        <option value="<%= section.id %>">Year <%= section.year %>: <%= section.id %></option>
        <% }) %> <% } %>
      </select>

      <br>

      <label class="my-1 md-2" for="section_id"> Student </label>
      <select class="custom-select my-1 md-4" id="student_id" name="student_id">
        <option selected>Choose...</option>
        <% if (typeof students != 'undefined') { %> <% students.forEach(student => { %>
        <option value="<%= student.id %>">Username <%= student.username %>: <%= student.id %></option>
        <% }) %> <% } %>
      </select>

      <br>

      <div class="col-sm-6">
        <label for="status" class="form-label">Degree</label>
        <input type="text" class="form-control" id="status" name="status">
      </div>

      <button type="submit" class="btn btn-outline-secondary my-3 sm-2">Add</button>
      <!-- <input type="submit" value="search"> -->
    </form>

    <% if (typeof message !== 'undefined' ) { %>
      <p><%= message %></p>
      <% } %>


  </div>

  <br>

  <%- include("./partials/footer") %>