<%- include("./partials/header") %>
<%- include("./navbar/menu") %>

<br>

<div class="container">
    <h5 class="border-bottom pb-4 mb-2">Schedulers</h5>
    <br>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <% if (typeof schedulers != 'undefined') { %> <% schedulers.forEach(scheduler => { %>

          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3 text-white bg-warning border-dark">
                <h4 class="my-0 fw-normal"><strong>Name: </strong><%= scheduler.name %></h4>
              </div>
              <div class="card-body">
                <h2 class="card-title pricing-card-title"><strong>Code: </strong><%= scheduler.id %></h2>
                <ul class="list-unstyled mt-3 mb-4">
                  <li><strong>Day: </strong><%= scheduler.day %></li>
                  <li><strong>Start Time: </strong><%= scheduler.start_time %></li>
                  <li><strong>End Time: </strong><%= scheduler.end_time %></li>
                </ul>
              </div>
            </div>
          </div>

      <% }) %> <% } %>

    </div>
  </div>

<br>

<%- include("./partials/footer") %>
