<%- include("./partials/header") %>

<% if (role == 'professor') { %>
  <%- include("./navbar/menu_p") %>
<% } else { %>
  <%- include("./navbar/menu_s") %>
<% } %>

<br>

<div class="container mt-4">
        
  <div class="row align-items-start">

      <div class="col">
          <label for="my_table"><b><i>Courses Sections</i></b></label>
          <hr class="my-4">
          <table class="table" id="selected_sections">
              <thead>
              <tr>
                  <th scope="col">Section Id</th>
                  <th scope="col">Course Name</th>
                  <th scope="col">Class Name</th>
                  <th scope="col">Class Type</th>
                  <th scope="col">Exam Name</th>
                  <th scope="col">Exam Points</th>
                  <th scope="col">Year</th>
              </tr>
              </thead>
              <tbody>
                  <% if (typeof sections != 'undefined') { %> <% sections.forEach(section => { %>
              <tr>
                  <td scope="row"><strong><%= section.section_id %></strong></td>
                  <td><%= section.course_name %></td>
                  <td><%= section.classroom_name %></td>
                  <td><%= section.classroom_type %></td>
                  <td><%= section.exam_name %></td>
                  <td><%= section.exam_gravity %></td>
                  <td><%= section.section_year %></td>
              </tr>
              <% }) %> <% } %>
              </tbody>
          </table>

          <br>
          <button type="button" class="btn btn-outline-info btn-sm" id="download-button-csv">
            export CSV <img src="/assets/csv.png" width="23rem" height="auto">
          </button>
          <button type="button" class="btn btn-outline-warning btn-sm" onclick="downloadObjectAsJson('selected_sections','file')">
          export JSON <img src="/assets/json.png" width="23rem" height="auto">
          </button>
          <button type="button" class="btn btn-outline-success btn-sm" onclick="tableToExcel()">
          export Excel <img src="/assets/excel.png" width="23rem" height="auto">
          </button>

      </div>           

  </div>
</div>

  <script>
    document.getElementById("download-button-csv").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    htmlToCSV(html, "file.csv");
    });   
  </script>



<%- include("./partials/footer") %>