<%- include("./partials/header") %>
<%- include("./navbar/menu") %>

<br>

<div class="container">
    <h5 class="border-bottom pb-4 mb-2">Semesters</h5>
    <br>
    <div class="row g-2">

        <% if (typeof semesters != 'undefined') { %> <% semesters.forEach(semester => { %>

          <div class="col-4">
            <div class="p-5 border bg-dark text-warning rounded-3 mb-4">
                <p><strong>Semester Code: </strong><i class="text-white"><%= semester.id %></i></p>
                <p><strong>Semester Name: </strong><i class="text-white"><%= semester.name %></i></p>
                <p><strong>Semester Description: </strong><i class="text-white"><%= semester.description %></i></p>
                <p><strong>Semester Start Time: </strong><i class="text-white"><%= semester.start_time %></i></p>
                <p><strong>Semester Days Time: </strong><i class="text-white"><%= semester.days_time %></i></p>
            </div>
          </div>

      <% }) %> <% } %>

    </div>
  </div>

<br>

<%- include("./partials/footer") %>


