<%- include("./partials/header") %>
<%- include("./navbar/menu") %>

<br>

<div class="container">
    <h5 class="border-bottom pb-4 mb-2">Semesters</h5>
    <br>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <% if (typeof semesters != 'undefined') { %> <% semesters.forEach(semester => { %>

          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3 text-white bg-secondary border-dark">
                <h4 class="my-0 fw-normal"><strong>Name: </strong><%= semester.name %></h4>
              </div>
              <div class="card-body">
                <h2 class="card-title pricing-card-title"><strong>Code: </strong><%= semester.id %></h2>
                <ul class="list-unstyled mt-3 mb-4">
                  <li><strong>Description: </strong><%= semester.description %></li>
                  <li><strong>Start Time: </strong><%= semester.start_date %></li>
                  <li><strong>Days Time: </strong><%= semester.end_date %></li>
                </ul>
              </div>
            </div>
          </div>

      <% }) %> <% } %>

    </div>
  </div>

<br>

<%- include("./partials/footer") %>
