<%- include("./partials/header") %>
<%- include("./navbar/menu_s") %>

<br>

<div class="container mt-4">
        
  <div class="row align-items-start">

      <div class="col">
          <label for="my_table"><b><i>My results</i></b></label>
          <hr class="my-4">
          <table class="table" id="std_results">
              <thead>
              <tr>
                  <th scope="col">Section</th>
                  <th scope="col">Points</th>
                  <th scope="col">Result</th>
                  <th scope="col">Last Update</th>
              </tr>
              </thead>
              <tbody>
                  <% if (typeof sections != 'undefined') { %> <% sections.forEach(section => { %>
              <tr>
                  <td scope="row"><strong><%= section.section_id %></strong></td>
                  <td><%= section.status %></td>
                  <td><%= section.results %></td>
                  <td><%= section.last_update_at %></td>
              </tr>
              <% }) %> <% } %>
              </tbody>
          </table>

          <br>
          <button type="button" class="btn btn-outline-info btn-sm" id="download-button-csv">
            export CSV <img src="/assets/csv.png" width="23rem" height="auto">
          </button>
          <button type="button" class="btn btn-outline-warning btn-sm" onclick="downloadObjectAsJson('std_results','file')">
          export JSON <img src="/assets/json.png" width="23rem" height="auto">
          </button>
          <button type="button" class="btn btn-outline-success btn-sm" onclick="tableToExcel()">
          export Excel <img src="/assets/excel.png" width="23rem" height="auto">
          </button>

      </div>           

  </div>
</div>

<script>
    document.getElementById("download-button-csv").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    htmlToCSV(html, "file.csv");
    });   
  </script>



<%- include("./partials/footer") %>