<%- include("./partials/header") %>

<% if (role == 'professor') { %>
  <%- include("./navbar/menu_p") %>
<% } else { %>
  <%- include("./navbar/menu_s") %>
<% } %>

<br>

<h2 class="border-bottom pb-4 mb-2">HUA Students</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm" id="students_all_table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Birthdate</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">Zip Code</th>
        <th scope="col">Home Phone</th>
        <th scope="col">Phone</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email Address</th>
        <th scope="col">Start Date</th>
        <th scope="col">Active</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
      <% if (typeof students != 'undefined') { %> <% students.forEach(student => { %>
      <tr>
          <td scope="row"><strong><%= student.username %></strong></td>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.date_of_birth %></td>
          <td><%= student.address %></td>
          <td><%= student.city %></td>
          <td><%= student.zipcode %></td>
          <td><%= student.telephone %></td>
          <td><%= student.phone %></td>
          <td><%= student.mobile %></td>
          <td><%= student.email %></td>
          <td><%= student.year_group %></td>
          <td><%= student.is_active %></td>
          <td><%= student.notes %></td>
      </tr>
      <% }) %> <% } %>
    </tbody>
  </table>

  <br>
  <button type="button" class="btn btn-outline-info btn-sm" id="download-button-csv">
    export CSV <img src="/assets/csv.png" width="23rem" height="auto">
  </button>
  <button type="button" class="btn btn-outline-warning btn-sm" onclick="downloadObjectAsJson('students_all_table','file')">
  export JSON <img src="/assets/json.png" width="23rem" height="auto">
  </button>
  <button type="button" class="btn btn-outline-success btn-sm" onclick="tableToExcel()">
  export Excel <img src="/assets/excel.png" width="23rem" height="auto">
  </button>

</div>

<script>
    document.getElementById("download-button-csv").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    htmlToCSV(html, "file.csv");
    });   
  </script>

<br>

<%- include("./partials/footer") %>