<%- include("./partials/header") %>

<% if (role == 'professor') { %>
  <%- include("./navbar/menu_p") %>
<% } else { %>
  <%- include("./navbar/menu_s") %>
<% } %>

<section class="intro">

      <br>
      <h5 class="border-bottom pb-4 mb-2">Students by Section</h5>
      <br>

      <form class="form-inline" action="/sections/students" method="post">
        <label class="my-1 md-2" for="section_id"> Section ID  </label>
        <select class="custom-select my-1 md-4" id="section_id" name="section_id">
          <option selected>Choose...</option>
          <% if (typeof sections != 'undefined') { %> <% sections.forEach(section => { %>
          <option value="<%= section.id %>">Year <%= section.year %>: <%= section.id %></option>
          <% }) %> <% } %>
        </select>
        <button type="submit" class="btn btn-outline-secondary my-1 sm-2">Search</button>
        <!-- <input type="submit" value="search"> -->
      </form>
      <br>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover mb-0" id="students_sections_table">
                    <thead>
                      <tr>
                        <th scope="col">Section Id</th>
                        <th scope="col">Student Id</th>
                        <th scope="col">Student Username</th>
                        <th scope="col">Student Email</th>
                        <th scope="col">Points</th>
                        <th scope="col">Result</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">Last Update</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (typeof section_students_id != 'undefined') { %> <% section_students_id.forEach(section_student_id => { %>
                        
                        <form action="/students/<%= section_student_id.student_id %>" method="GET">
                        <tr>
                            <td scope="row"><strong><%= section_id %></strong></td>
                            <td><%= section_student_id.student_id %></td>
                            <td><%= section_student_id.student_username %></td>
                            <td><%= section_student_id.student_email %></td>
                            <td><%= section_student_id.status %></td>
                            <td><%= section_student_id.results %></td>
                            <td><%= section_student_id.creation_date %></td>
                            <td><%= section_student_id.last_update_at %></td>
                            <td><button type="submit" class="btn btn-outline-secondary my-1 sm-2">Info</button></td>
                        </tr>
                      </form>
                        <% }) %> <% } %>
                    </tbody>
                  </table>

                  <br>

                </div>
              </div>
            </div>
          </div>
        </div>

        <br>
        <button type="button" class="btn btn-outline-info btn-sm" id="download-button-csv">
          export CSV
        </button>
        <button type="button" class="btn btn-outline-warning btn-sm" onclick="tableToJSON()">
          export JSON
      </button>
      <button type="button" class="btn btn-outline-success btn-sm" onclick="exportTableToExcel('students_sections_table', 'students_sections')">
        export Excel
      </button>

      </div>
</section>

  <script>
    document.getElementById("download-button-csv").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    htmlToCSV(html, "students_sections.csv");
    });
  </script>


<br>

<%- include("./partials/footer") %>
