<%- include("./partials/header") %>

<% if (role == 'professor') { %>
  <%- include("./navbar/menu_p") %>
<% } else { %>
  <%- include("./navbar/menu_s") %>
<% } %>

<br>

<h2 class="border-bottom pb-4 mb-2">Φοιτητές Πανεπιστημείου</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm" id="students_all_table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Όνομα</th>
        <th scope="col">Επώνυμο</th>
        <th scope="col">Ημερ.Γεν.</th>
        <th scope="col">Διεύθυνση</th>
        <th scope="col">Πόλη</th>
        <th scope="col">Τ.Κ.</th>
        <th scope="col">Τηλέφωνο Οικίας</th>
        <th scope="col">Τηλέφωνο</th>
        <th scope="col">Κινητό</th>
        <th scope="col">Ηλεκ.Ταχ.</th>
        <th scope="col">Έτος Εισαγ.</th>
        <th scope="col">Ενεργός</th>
        <th scope="col">Σημειώσεις</th>
      </tr>
    </thead>
    <tbody>
      <% if (typeof students != 'undefined') { %> <% students.forEach(student => { %>
      <tr>
          <td scope="row"><strong><%= student.username %></strong></td>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.date_of_birth %></td>
          <td><%= student.address %></td>
          <td><%= student.city %></td>
          <td><%= student.zipcode %></td>
          <td><%= student.telephone %></td>
          <td><%= student.phone %></td>
          <td><%= student.mobile %></td>
          <td><%= student.email %></td>
          <td><%= student.year_group %></td>
          <td><%= student.is_active %></td>
          <td><%= student.notes %></td>
      </tr>
      <% }) %> <% } %>
    </tbody>
  </table>

  <br>
  <button type="button" class="btn btn-outline-info btn-sm" id="download-button-csv">
    export CSV
  </button>
  <button type="button" class="btn btn-outline-warning btn-sm" onclick="tableToJSON()">
    export JSON
  </button>
  <button type="button" class="btn btn-outline-success btn-sm" onclick="exportTableToExcel('students_all_table', 'students')">
    export Excel
  </button>

</div>

  <script>
    document.getElementById("download-button-csv").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    htmlToCSV(html, "students.csv");
    });
  </script>

<br>

<%- include("./partials/footer") %>