<%- include("./partials/header") %>
<%- include("./navbar/menu") %>

<section class="intro">

      <br>
      <h5 class="border-bottom pb-4 mb-2">Students by Section</h5>
      <br>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover mb-0" id="myTable">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Χρήστης</th>
                        <th scope="col">Όνομα</th>
                        <th scope="col">Επώνυμο</th>
                        <th scope="col">Ηλ.Ταχυδρομείο</th>
                        <th scope="col">Έτος Εγγραφής</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (typeof students != 'undefined') { %> <% students.forEach(student => { %>
                        <tr>
                            <td scope="row"><strong><%= student.section_id %></strong></td>
                            <td><%= student.username %></td>
                            <td><%= student.first_name %></td>
                            <td><%= student.last_name %></td>
                            <td><%= student.email %></td>
                            <td><%= student.year_group %></td>
                        </tr>
                        <% }) %> <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>
        <button type="button" class="btn btn-outline-info btn-sm" onclick="tableToCSV()">
            export CSV
        </button>
        <button type="button" class="btn btn-outline-warning btn-sm" onclick="tableToJSON('myTable')">
          export JSON
      </button>

      </div>
</section>

<br>

<%- include("./partials/footer") %>
