<%- include("./partials/header") %>

<% if (role == 'professor') { %>
  <%- include("./navbar/menu_p") %>
<% } else { %>
  <%- include("./navbar/menu_s") %>
<% } %>

  <div class="list-group">

    <h2 class="border-bottom pb-2">My Documents</h2>
    <br>

    <% if (typeof mydocuments != 'undefined') { %> <% mydocuments.forEach(mydocument => { %>

    <div class="list-group">
            <img src="/assets/doc_logo.png" alt="" width="36" height="36" class="flex-shrink-0">
            <a href="#" class="list-group-item disabled">Name: <%= mydocument.name %></a>
            <a href="#" class="list-group-item disabled">Etag: <%= mydocument.etag %></a>
            <a href="#" class="list-group-item disabled">Size (kbytes): <%= mydocument.size %></a>
            <a href="#" class="list-group-item disabled">Valid Days : <%= mydocument.valid_days %></a>
            <a href="#" class="list-group-item disabled">Last Modified: <%= mydocument.lastModified %></a>
            <a href="<%= mydocument.presignedUrl %>" class="list-group-item text-primary">Click to open</a> 
    </div>

    <% }) %> <% } %>

  </div>

  <br>

  <%- include("./partials/footer") %>